.registerContainer{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center ;
    flex-direction: column;
}
.nameForm{
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.4);
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center ;
    flex-direction: column;
    margin: 0px;
}
.nameForm input{
    padding: 10px;
    margin: 5px;
    border-radius: 4px;
}