.name{
    background-color: white;
    color: black;
    padding:1px 3px 1px 3px;
}

.container{
    height: 485px;
    min-width: 525px;
    max-width: 50%;
    justify-content: center;
    background-color: #F0EBE3;
    margin: 10px;
    overflow: scroll;
    position: relative;
    bottom: 0;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
  .msg{
    border: 1px solid gray;
    min-height: 50px;
    
    margin: 20px;
    padding: 5px 15px 5px 15px;
    min-width: 225px;
    border-radius: 12px;
    display: flex;
    flex-direction: column-reverse;
  }
  .send{
    float: right;
    clear: both;
    border-radius: 6px;
    background-color: blue;
    color: white;
  }
  .receive{
    float: left;
    clear: both;
    border-radius: 6px;
  
    background-color: #3F4E4F;
  }
  
  .msgForm{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 50%;
  }

  .messageInput{
    padding: 5px 20px;
    border-radius: 5px;
    border:none;
    outline: none;

    /* width: 70%; */
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    flex: 1;
  }
  .sendBtn{
   
    padding: 5px 20px;
    border-radius: 5px;
    border:none;
    outline: none;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    width: 90px;
    margin-left: 5px;

  }